{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h3>{% translate "My lessons" %}</h3>
<div class="container">
    <div class="row">
        <div class="col-2" style="min-width: 200px; padding-top: 20px;">
            <p>{% translate "Name" %}: {{ request.user.first_name }}</p>
            {% if request.user.details.phone %}
            <p>{% translate "Phone" %}: {{ request.user.details.phone }}</p>
            {% endif %}
            {% if request.user.details.telegram %}
            <p>{% translate "Telegram" %}: {{ request.user.details.telegram }}</p>
            {% endif %}
        </div>
        <div class="col">
            <div class="container testimonial-group">
                <div class="row justify-content-center">
                    <div class="table" style="max-width: 900px;">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th style="width: 5%; text-align: center; min-width: 60px;" ><h5>Id</h5></th>
                                    <th style="width: 15%; text-align: center; min-width: 130px;" ><h5>{% translate "Date" %}</h5></th>
                                    <th style="width: 15%; text-align: center; min-width: 100px;" ><h5>{% translate "Time" %}</h5></th>
                                    <th style="width: 10%; text-align: center; min-width: 70px;" ><h5>{% translate "Cost" %}</h5></th>
                                    <th style="width: 10%; min-width: 100px;" ></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lesson in lessons %}
                                <tr>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.id }}
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.date|date:"j b, D" }}
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.time|date:"G:i" }}
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.salary }} ₽
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        <form id="delete_{{ lesson.pk }}" action="{% url 'del_lesson_url' lesson.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-danger btn-block' style="padding: 6px 12px 6px 6px; width: 100%; width: 50px; padding: 6px 0px;">
                                                <img src="{% static 'img/white-cross.png' %}" alt="delete" width="20px">
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
