{% load i18n %}

<h4>{% translate 'Hello!' %}</h4>
<p> 
    {% blocktranslate %}I am Teplyakov Sergey ({{ age }} years old). I am programming coach. I teach to work with object-oriented language <nobr>Python 3</nobr>. I taught greater than <nobr>2 000</nobr> lessons teaching peoples of all ages. I am ready to help you specific problem or conduct a training lesson based on my materials.{% endblocktranslate %}
</p>

<h5>{% translate 'Professional achievements' %}</h5>
<ul>
    <li>
        {% translate 'I have a master’s degree in information system and technology. Theme of my dissertation is “Monitoring and forecasting of georisks”. The software was created using Python, JavaScript and WebSocket technology.' %}
    </li>
    <li>{% translate 'I finished course for programmer at ITMO university' %}</li>
    <li>{% translate 'Received a patent for a computer program (use graph theory and neural networks for a travel planning)' %}</li>
    <li>{% translate 'I have publications in international digest' %}</li>
    <li>{% translate 'Develop many parsers, chat-bots and neural networks' %}</li>
    <li>{% translate 'I have experience of teaching activities at a university (St.Petersburg polytechnic university)' %}</li>
</ul>

<p>
    <h5>{% translate 'Lesson construction' %}</h5>
    {% translate 'I composes a plan and presentation for every lesson. You can change ratio of theory and practice. If you want more practice (coding, analysis examples etc.), then I’m in!' %}
</p>
<p>
    <h5>{% translate 'Payment' %}</h5>
    {% blocktranslate %}Payment by phone number (Tinkoff, Sber). Lesson cost is <nobr>{{ C_salary_common }}</nobr> rub. Cost of an early morning (until <nobr>{{ С_morning_time_markup }}</nobr>) or late evening (after <nobr>{{ C_evening_time_markup }}</nobr>) lesson is <nobr>{{ C_salary_high }}</nobr> rub. Also cost is <nobr>{{ C_salary_high }}</nobr> rub when day is overflow ({{ C_lesson_threshold }} lessons per day).{% endblocktranslate %}
</p>
