body {
    background: rgb(245, 245, 241); /* Цвет фона */
}

/* base.html */
/* Создание горизонтальной прокрутки */
.testimonial-group > .row {
overflow-x: auto;
white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
display: inline-block;
float: none;
}

/* index.html */
.card {
    margin-bottom: 15px; /* добавляет расстояние между карточками */
}

.card-body {
    padding-top: 10px; /* убирает отступ от границы в карточке */
}

.theme {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.card a {
    text-decoration: none;
    color: black;
}

.d-block > .row > p > a {
    padding: 6px;
    text-align: center;
    margin: 3px 5px;
}

/* 3 following styles are used for info.html */
.d-none.d-sm-none.d-md-none.d-lg-none.d-xl-block ul li {
    margin-left: 600px;
}

.d-none.d-sm-none.d-md-none.d-lg-none.d-xl-none.d-xxl-block ul li {
    margin-left: 600px;
}

.d-none.d-sm-none.d-md-none.d-lg-none.d-xl-block.d-xxl-none ul li {
    margin-left: 0px;
}

/* remove display of string menu scroll bar */
.string-menu {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.string-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Telegram notification */
.notification-frame {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    text-align: center;
    animation: show-notice 1s forwards;
}
.notification-frame .notification-body {
    position: relative;
}
.notification-frame .notification-body-img {
    position: relative;
    display: inline;
    max-height: calc(60vh*(3879/4500));
    max-width: calc(60vw);
}
.notification-frame .notification.btn-close {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 2;
}
.notification-frame .notification.btn-close:focus {
    box-shadow: none;
}
.notification-frame .notification-footer {
    position: relative;
    display: block;
}
.notification-frame .notification-footer-btn {
    display: inline;
    float:left;
    max-height: calc(60vh*(621/4500));
    max-width: calc(60vw/2);
}
.notification-frame .notification-footer-btn:hover {
    cursor: pointer;
}
@keyframes show-notice {
    0% {background-color: rgba(0,0,0,0); opacity: 0;}
    100% {background-color: rgba(0,0,0,.5); opacity: 1;}
}
@keyframes close-notice {
    0% {background-color: rgba(0,0,0,.5); opacity: 1;}
    100% {background-color: rgba(0,0,0,0); opacity: 0;}
}

/* High Cost Notification */
.notification-frame.high-cost {
    left: 0;
}
.notification-frame.high-cost .notification-body-img {
    max-height: calc(60vh*(4004/4500));
}
.notification-frame.high-cost .notification-footer-btn {
    max-height: calc(60vh*(496/4500));
}
.notification-frame.high-cost .notification-body-img.increased {
    max-width: calc(90vw);
}
.notification-frame.high-cost .notification-footer-btn.increased {
    max-width: calc(90vw/2);
}
