{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-2" style="min-width: 200px;">
                {% include 'main_app/management/inc/_sidebar_menu.html' %}
            </div>
            <div class="col" style="padding-left: 50px;">
                <h3>{% translate "To schedule" %}</h3>
                <div class="row">
                    <div class="col" style="max-width: 400px;">
                        <form id="adminAddLessonForm" method="post">
                            {% csrf_token %}
                            <p>
                                <label for="id_filter" class="form-label">Фильтр никнеймов:</label>
                                <input type="text" name="filter" class="form-control" placeholder="username" id="id_filter">
                            </p>
                            {{ form.as_p }}
                            <p>
                                <a href="#" class="thumbnail" data-bs-toggle="modal" data-bs-target="#M_cost" style="color: black; font-size: 9pt;">{% translate "How to find out the cost?" %}</a><br>
                            </p>
                            <button type='submit' class='btn btn-primary btn-block'>{% translate "Add lesson" %}</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    {% include 'main_app/management/inc/_string_menu.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col" style="max-width: 400px;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <a href="#" class="thumbnail" data-bs-toggle="modal" data-bs-target="#M_cost" style="color: black; font-size: 9pt;">{% translate "How to find out the cost?" %}</a><br>
                    </p>
                    <div class="text-center">
                        <button type='submit' class='btn btn-primary btn-block'>{% translate "Add lesson" %}</button>
                    </div>
                </form>
            </div> 
        </div>        
    </div>
</div>

<div class="modal fade" id="M_cost" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="white-space: normal">
                    {% translate "How to find out the cost?" %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p style="white-space: normal; text-align: left; padding: 10px;">
                {% for message in cost_messages %}
                    {{ message }} <br>
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<script>

    function updateUserList(filter, copy_select) {
        let select =  adminAddLessonForm.student
        let i = 0
        while (i < select.length) {
            select[i].remove()
        }

        for (let opt in copy_select) {
            if (copy_select[opt].text.startsWith(filter)) {
                select.add(copy_select[opt])
            }
        }
    }

    id_filter.addEventListener("input", function (event) {
        updateUserList(id_filter.value, copy_select)
        selectAloneOption()
    })

    function selectAloneOption() {
        let select =  adminAddLessonForm.student
        if (select.length == 1) {
            select.options['0'].selected =  true
        } else {
            select.options.selectedIndex = -1
        }
    }

    let copy_select = Object.assign({}, adminAddLessonForm.student)

</script>
{% endblock content %}
