<header class="header" style="background-color: #e5fdf1;">
    <div class="container">
        <div class="row" style="margin-left: 30px; font-family: sans-serif;">
            <p style="margin: 0 0 0px; margin-top: 5px;">
                ATTENTION! It's a pet-project. All characters and events depicted 
                are fictitious. Any similarity to actual persons is purely coincidental.
            </p>
            <p style="margin: 0 0 0px; margin-bottom: 5px;">
                Site developer: Komarnitskiy Pavel. 
                Email: engenerpaul.kpa@gmail.com. 
                GitHub: <a style="color: #408ed3;" href="https://github.com/EngenerPaul/CalendarAPI">github.com/EngenerPaul/CalendarAPI</a>.
                Portfolio: <a style="color: #408ed3;" href="https://summary-kpa.herokuapp.com/">Summary-KPA</a>.
            </p>
        </div>
    </div>
</header>
<hr style="margin: 0; border-top: 1px solid #66CDAA; opacity: 1">